fastapi
uvicorn
copilotkit
ag-ui-protocol
langchain
langgraph
langgraph-checkpoint-sqlite
aiosqlite
langchain-openai
python-dotenv
faker
sqlalchemy
langchain-text-splitters
langchain-community
faiss-cpu
